{% extends "website/base.html" %}

{% block titleblock %}Home{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Game Welcome Page Goes Here</h1>

        <hr />

        <p class="lead">
        </p>
          {% if webclient_enabled %}
        <h2>
	  <a href="{% url 'webclient:index' %}">Play Now</a>
        </h2>
        <p>
          Or point your favorite client to port 4000.
        </p>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<hr />

{% endblock %}
